@media all and (min-width:360px){
	/*#web_skin_index .box li .img{height:47px;margin:7px 0px;}*/

}
/*
@media all and (min-width:420px){
}
@media all and (min-width:480px){
	#web_skin_index .box{ width:406px; height:406px;}
	#web_skin_index .box li{ width:135px; height:135px}
	#web_skin_index .box li .img{height:55px; margin:28px 0 15px 0px; }

}
@media all and (min-width:640px){

	#web_skin_index .box{ width:540px; height:540px;}
	#web_skin_index .box li{ width:180px; height:180px}
	#web_skin_index .box li .img{height:73px; margin:15px 0px;margin:37px 0 21px 0px; }
}
*/