html, body{ background:url(indexbg.png) no-repeat fixed; background-size:100% 100%;}

@media all and (min-width:360px){
	#web_skin_index .banner{height:158px;}
	#web_skin_index .banner .img img{height:158px;}
}
@media all and (min-width:420px){
	#web_skin_index .banner{height:184px;}
	#web_skin_index .banner .img img{height:184px;}
}
@media all and (min-width:480px){
	#web_skin_index .banner{height:210px;}
	#web_skin_index .banner .img img{height:210px;}
}
@media all and (min-width:640px){
	#web_skin_index .banner{height:280px;}
	#web_skin_index .banner .img img{height:280px;}
}