.my_con{ overflow:hidden; width:1200px; margin:0 auto;}

.my_con_top{
	background: #f5f5f5;
	overflow: hidden;
	border-bottom-left-radius: 64px;
	border-top-right-radius: 64px;
	border-bottom-right-radius: 64px;
}

.mct_left,.mct_center{ float:left;}
.mct_center{ margin-left:142px; width:220px;}
.mct_right{ float:right;}
.mct_left{ margin-top:14px; margin-left:22px;}
.head_img,.vip_word{ float:left;}
.head_img a{ background:url(../images/head_img.png) no-repeat; height:100px; width:100px;}

.vip_word{ margin-left:15px; margin-top:13px;}
.v_name h3{ font-size:16px;}
.v_level{ margin:5px 0px;}
.v_level span{ color:#d30015; background:url(../images/level.png) no-repeat left center; padding-left:20px;}
.v_level a{ color:#00b7ee; text-decoration:underline; margin-left:10px;}

.boss span{ color:#666;}
.boss a{ color:#d30015; margin-left:5px;}

.shoucang_more{ text-align:center; border:1px solid #d2d2d2; height:204px;}
.shoucang_more a{ font-size:14px; height:100%; color:#666666; width:100%;}
.shoucang_more .star{ margin-left:71px; transition:background-position 0.2s; margin-top:65px; margin-bottom:10px; width:39px; display:block; height:37px; background:url(../images/bg_some.png) no-repeat; background-position:-2px -235px; *margin-left:0px;}
.shoucang_more:hover .star{ background-position:-2px -283px;}

.mct_right{
	background: #f3e9ea;
	line-height: 25px;
	padding: 17px 0px;
	margin: 10px 10px 10px 0px;
	border-top-right-radius: 54.5px;
	border-bottom-right-radius: 54.5px;
	border-bottom-left-radius: 54.5px;
}
.mct_right li{ color:#666;}
.red{ margin-left:34px; padding-right:24px; border-right:1px dashed #edbabf;}
.red a{ color:#d30015; font-weight:700;}
.blue a:hover,.red a:hover{ text-decoration:underline;}
.red li span{ margin-left:10px;}
.blue{ margin-left:24px; margin-right:24px;}
.blue a{ color:#00b7ee;font-weight:700;}
.blue,.red{ float: left;}


.mct_cen_public{ height:40px; text-align:center; float:left; padding-left:48px; margin-right:26px; margin-top:14px; transition:background-position 0.2s;}
.mct_cen_public span{ color:#666;}
.mct_cen_public a{color:#d30015; font-weight:700; font-size:14px;}
.mct_cen_public a:hover{ text-decoration:underline;}

.wait_pay{ background:url(../images/ucount-icon.png) no-repeat ; background-position:0px 0px;}
.wait_pay:hover{background-position:3px 0px;}
.over_pay{ background:url(../images/ucount-icon.png) no-repeat; background-position:0px -50px;}
.over_pay:hover{background-position:3px -50px;}
.wait_get{ background:url(../images/ucount-icon.png) no-repeat 0px -100px; margin-top:17px;}
.wait_get:hover{background-position:3px -100px;}
.finish{ background:url(../images/ucount-icon.png) no-repeat 0px -150px; margin-top:17px;}
.finish:hover{background-position:3px -150px;}

.body{ margin-top:31px;}
.body label{font-size:14px; font-weight:700; margin-bottom:5px; display: block; }
.body_menu{ float:left; padding-right:11px; padding-left:18px;}
.bm_public{ margin-bottom:20px;}
.bm_public li{ line-height:20px;}
.bm_public li a{ color:#666;}
.bm_public li a:hover{color:#d30015;}

.mytequan{ overflow:hidden; width:1077px;}
.mytequan label{}
.mytequan li{ float:left; margin-bottom:22px; margin-right:25px; padding-left:58px; padding-top:6px; padding-bottom:6px;background:url(../images/mytequan.png) no-repeat;}
.mytequan li a{ font-size:14px; font-weight:700;}
.mytequan li a:hover{color:#d30015;}
.mytequan li p{ color:#666; margin-top:2px;}
.mytequan .li01{ background-position:0px 0px;}
.mytequan .li02{ background-position:0px -50px;}
.mytequan .li03{ background-position:0px -100px;}
.mytequan .li04{ background-position:0px -150px;}

.body_center_pub{ min-height:538px; float:left; padding-left:15px; border-left:1px dashed #e1e1e1;}
.my_dingdan{ width:1055px; border-right:1px dashed #e1e1e1; padding-right:15px;}
.my_dingdan label{ margin-top:22px;}
.my_dingdan span.more{ margin-top:22px; float:right;}

.masthead{background:#fbe5e7; height:42px; line-height:42px; color:#666; padding-left:13px;}
.masthead span,.dd_more span{ display:inline-block; text-align:center;vertical-align:middle;}
.paydo{ width:170px;}
.truepay{ width:120px;}
.on{  width:116px;}
.price{ width:124px;}
.name{ width:337px;}
.num{ width:41px;}
.shopdo {width: 133px;}

.dingdan{ border:1px solid #fbe5e7; margin-top:10px;}
.dingdan:hover{border:1px solid #ffaeb5;}

.dingdan .dd_nt{ background:#fef7f8; height:40px; line-height:40px; color:#666; }
.dingdan .dd_nt span{margin-left:13px; vertical-align: text-top;}

.my_shoucang{ overflow:hidden; border:1px solid #dcdcdc; margin-top:18px;}
.msctitle{ float:left; text-align:center; height:162px; font-size:14px; padding-top:80px; width:41px; background:#eee; font-weight:700; border-right:1px solid #dcdcdc;}
.my_shoucang li{ width:182px; float:left;margin:9px 6px 5px 14px; display:inline-block;}
.my_shoucang li .sc_word{ margin-top:5px;}

.sc_word{ line-height:20px;}
.sc_word .sc_number a{ color:#666; width:178px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sc_word .sc_number a:hover{ color:#d30015;}
.sc_word .andmore span{ font-weight:700; color:#d30015; font-size:14px;}
.sc_word .andmore i{ color:#666; text-decoration:line-through;}
.sc_img a img{ width:182px;}

.dd_more{ margin:20px 0px 20px 13px; line-height:20px;}
.dd_more .on a{ color:#00b7ee;}
.dd_more .price i{ text-decoration:line-through; color:#666;}
.dd_more .name img{ width:71px; height:71px; float:left;}
.dd_more .name div{ text-align:left; margin-left:79px; margin-top:5px;}
.dd_more .name div a{text-overflow:ellipsis;white-space:nowrap;overflow:hidden; width:190px;}
.dd_more .name div span{ color:#666;}

/*全部订单css  begin*/
.all_dingdan{ width:1073px;}
.manydingdan{ min-height:200px;background:none; width:1073px;}
.manydingdan .nothing{ text-align:center; line-height:200px; font-size:16px; color:#bbb; font-weight:700; padding-left:100px;}
.my_little{ margin-bottom:34px; margin-left:-18px;}
#head_img{ width:100px; height:100px; background:url(../images/head_img.png) no-repeat; border-radius:50px; }
#head_img a{ width:100%; height:100%;}
#vip_word{ text-align:center;}
#vip_word a{ font-size:16px; font-weight:700; color:#333;}
#vip_word span{ background:url(../images/level.png) no-repeat left center; height:16px; display:inline-block; padding-left:20px; margin-top:5px;}

.delete{ width:19px; height:20px; background:url(../images/deleteicon.png) no-repeat; display:inline-block; float:right; margin-right:13px; margin-top:10px;}

.over_dingdan{ border:1px solid #eee;}
.over_dingdan .dd_nt{ background:#eee;}

.df{ overflow:hidden; padding-left:23px;}
.df li{ float:left; margin-right:46px; padding-bottom:15px;}
.df li a{ font-size:16px; font-weight:700; color:#333;}
.df li a:hover{ color:#d30015;}

.df li.onfocus{ background:url(../images/dficon.png) no-repeat center bottom;}
.df li.onfocus a{ color:#d30015;}

.fanye{ float:right; margin-top:20px;}
.fy1 a{ border:1px solid #dcdcdc; width:26px; height:31px; text-align:center; line-height:31px;}
.fy1 span{ font-weight:700;}
.fy1 span i{ color: #D30015; }
#next{ margin-right:5px;}
#text{ text-align:center;margin-right:5px; width:37px; height:31px; border:1px solid #dcdcdc;}
#submit{ color:#333; width:41px; height:31px; border:1px solid #dcdcdc; background:#eeeeee; margin-left:5px;}
/*全部订单css  end*/

/*我的收藏begin*/
.shoucang { display:inline-block; position:relative; margin-bottom:20px;}
.shoucang .title{ float:left; font-size:16px; font-weight:700;}
.shoucang .title i{ margin:0px 7px;}
.shoucang .choose{ margin-top:-7px; float:left; border:1px solid #DCDCDC;  position:relative; }
.shoucang .choose a{width: 100%;position:relative;padding:0px 19px;}
.shoucang .choose i{ background:url(../images/bg_some.png) no-repeat;}
.shoucang .choose .now_choose a{ line-height:30px; }
.shoucang .choose .now_choose i{ margin-left:7px; width:9px; height:5px; background-position: -69px -91px;}
.shoucang .choose .choose_menu{ width:100%; border:1px solid #DCDCDC; display:none; line-height:30px; position:absolute; left:-1px; z-index:100;  background:#FFFFFF; }
.shoucang .choose:hover .choose_menu{ display:block;}

.shoucang .choose .choose_menu li i{ position:absolute; left:5px; top:12px; background-position:-48px -143px; height:7px; width:10px;}
.shoucang .choose .choose_menu li:hover{ background:#eeeeee;}

.guanli{ float:right;}
.guanli li{ float:left; padding-left:10px;}

.guanli li a{ padding:5px 10px; border:1px solid #DCDCDC;}

.guanli li:nth-child(1),.guanli li:nth-child(2),.guanli li:nth-child(4){ display:none;}





.myshoucang{ min-height:200px; position:relative; overflow:hidden;  width:1100px;}
.myshoucang .fore{ margin-bottom:20px; margin-left:2px; margin-top:2px; width:195px; margin-right:20px; float:left; position:relative;}
.myshoucang .fore .bbimg img{ width:200px; height:200px;}
.myshoucang .fore .bbconformation .sc_name{ margin-top:5px;}
.myshoucang .fore .bbconformation .sc_name #forechoose{ display:none;}
.myshoucang .fore .bbconformation .sc_name a{width:177px; margin-left:5px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.myshoucang .fore .bbconformation .sc_price{ margin-top:5px; }
.myshoucang .fore .bbconformation .sc_price span{ font-size:16px; font-weight:700; color:#D30015}
.myshoucang .fore .bbconformation .sc_price i{ color:#666; text-decoration:line-through; margin-left:3px;	}
.myshoucang .fore .form_gunali{}
.myshoucang .fore .delete{ display:none; position:absolute; z-index:200; right:-18px; top:-9px; background: url(../images/bg_some.png) no-repeat rgba(0,0,0,0.5) -175px -314px; *background: #000000; height:36px; width:69px;}
.myshoucang .fore:hover .delete,.myshoucang .fore:hover .add_shopcar{ display:block;}
.myshoucang .fore .delete a{ padding-left:8px; color:#FFFFFF; font-size:12px; text-align:center;line-height:36px; width:100%;}
.myshoucang .fore .delete:hover{ background: url(../images/bg_some.png) no-repeat rgba(211,0,21,1.00) -175px -314px;}
.myshoucang .fore .add_shopcar:hover{ background:#D30015;}
.myshoucang .fore .add_shopcar{ display:none; position:absolute;z-index:200; left:0; background:rgba(0,0,0,0.5);height:36px; width:100px;}
.myshoucang .fore .add_shopcar a{color:#FFFFFF; font-size:12px; text-align:center;line-height:36px; width:100%;}
.myshoucang .nothing{ color:#999999; position:relative; text-align:center; font-size:16px; line-height:200px;}
.myshoucang .nothing .icon{ position:absolute; left:350px; top:49px; width:57px; height:49px; margin-top:20px; background:url(../images/bg_some.png) no-repeat -68px -106px;}


.jingxintuijian{ background:#f5f5f5; height:280px; margin-top:25px;}
.jingxintuijian h3{ margin-top:16px; margin-bottom:16px; margin-left:13px; display: inline-block;}
.jingxintuijian .jinxing_bb{ padding-left:17px;}
.jingxintuijian .form{ float:left; margin-right:20px; position:relative; height:207px; border:none; width:156px;} 
.jingxintuijian .form .img img{ width:156px; height:156px;}
.jingxintuijian .form .word{margin-left:5px; }
.jingxintuijian .form .word .name{ width:auto; line-height:15px; margin-top:5px;}
.jingxintuijian .form .word .price{ position:absolute; bottom:0px; left:3px; color:#d30015;}


/*我的收藏end*/

.my_return a{ colo}

/*我的余额 begin*/
.my_balance span{ color:#d30015; font-size:30px; font-weight:700;}
.my_balance h3{ float:left; font-size:14px; margin-top:14px;}
.my_balance a{ padding:9px 20px; vertical-align:bottom;background:#f39800; color:#FFFFFF; display:inline-block;}

.balance_record{ margin-top:30px;}
.balance_record_chose{ overflow:hidden; margin-bottom:6px;}
.balance_record_chose .brc_left li{ float:left;}
.balance_record_chose .brc_left li.brc_left_focus{ background:#f19149; }
.balance_record_chose .brc_left li.brc_left_focus a{color:#fff;}
.balance_record_chose .brc_left li a{ padding:9px 12px;}
.balance_record_chose .brc_rigth{ position:relative; float:right; height:23px; background:#f5f5f5; border:1px solid #dcdcdc; overflow:hidden;}
.balance_record_chose .brc_rigth li a{ padding:5px 24px 5px 9px;}
.balance_record_chose .brc_rigth i{ width:9px; height:5px; position:absolute; top:9px; right:11px; display:inline-block; background:url(../images/top_right_img.png) no-repeat;}

.brt_different{ background:#f5f5f5; height:37px; line-height:37px; color:#666; }
.balance_record_table span{ display:inline-block;text-align:center; position:relative;}
.balance_record_table #time{ width:278px;}
.balance_record_table #dosomething{ width:173px;}
.balance_record_table #price{ width:210px;}
.balance_record_table #nowin{ width:195px;}
.balance_record_table #writesome{ width:217px;}
.balance_record_table .time{ width:278px;}
.balance_record_table .dosomething{ width:173px;}
.balance_record_table .price{ width:210px;}
.balance_record_table .nowin{ width:195px;}
.balance_record_table .writesome{ width:217px;}
.brt_see li{ height:36px; line-height:36px; border-bottom:1px solid #dcdcdc;}
.brt_see span span{ width:16px; height:16px; background: url(../images/bg_some.png) no-repeat -45px -103px; position:absolute; top:10px; margin-left:2px;}

/*我的余额 end*/

/*我的优惠券 begin*/
.my_coupons .my_coupons_many ul{overflow:hidden;}
.my_coupons .my_coupons_many li{ float:left;}
.my_coupons .my_coupons_many li a{ font-size:14px;}
.my_coupons .my_coupons_many li.my_coupons_manyfocus a{ color:#d30015; font-weight:700; margin-right:20px; padding:0px 10px 5px 10px; border-bottom:2px solid #d30015;}


.my_coupons .my_coupons_form{ margin-top:8px;}
.my_coupons .my_coupons_choose{ line-height:30px; background:#eeeeee;}
.my_coupons .my_coupons_choose .ccur{color:#d30015;font-weight:600;}
.my_coupons .my_coupons_choose a{ margin-left:21px;}

.coupons{ margin-top:6px; overflow:hidden; width:1122px;}
.coupons .coupons_form{ width:324px; float:left; margin-right:50px;}
.coupons .coupons_form .top{ border-bottom:1px dashed #FFFFFF; position:relative; background:#ec6941; width:auto; color:#ffffff;}
.coupons .coupons_form .left{ padding-bottom:17px; width:160px; text-align:center;}
.coupons .coupons_form .right{ position:absolute; right:25px; top:39px;}
.coupons .coupons_form .right a{ padding:13px 25px; border:1px solid #ffffff; border-radius:5px; color:#FFFFFF; font-size:14px;}
.coupons .coupons_form .right a:hover{ background:#f48260;}
.coupons .coupons_form .couprice{ margin-top:13px; display:inline-block; font-weight:700; font-family:"Microsoft YaHei"; font-size:50px;}
.coupons .coupons_form .couprice i{ font-size:16px;}
.coupons .coupons_form .buttom{ background:#eeeeee; padding-left:10px; line-height:20px; color:#999999; padding-top:3px; padding-bottom:5px;}

/*我的优惠券 end*/

/*领取优惠券 begin*/

.lingqucoupons{ overflow:hidden; margin-top:13px;}
.lingqucoupons .choose{ border-top:2px solid #d30015; border-bottom:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2;}
.lingqucoupons .choose .choosepublic{ padding:3px 0px 13px 0px;}

.lingqucoupons .choose .bottom_border{ border-bottom:1px dashed #d7d7d7;}

.choosepublic .left{ padding-left:32px; float:left; color:#A7A7A7; margin-top:13px;}

.choosepublic .right{ margin-left:59px;}
.choosepublic .right a{ padding:2px 5px;}
.choosepublic .right a:hover,.choosepublic .right .focus{ background:#d30015; color:#FFFFFF;}

.lingqucoupons .wid{ width:1098px;}
.choosepublic .right a{ margin-left:18px; margin-top:10px;}
.xiangqing{ margin-top:10px; width:197px; float:left; margin-right:22px;}
.xiangqing .xqpublic{ border:1px solid #dcdcdc; padding:18px 7px 10px; margin-top:10px;}
.xiangqing .xqpublic .img{ margin-left:8px;}
.xiangqing .xqpublic .img img{ width:165px; height:53px;}
.xiangqing .xqpublic .couponscomeing li{ margin-top:11px; height:62px; width:181px;  background:url(../images/coopons.png) left top no-repeat;}
.xiangqing .xqpublic .couponscomeing li.loser{ background-position:0px -67px;}
.xiangqing .xqpublic .couponscomeing li:hover{ background-position:0px 0px;}
.xiangqing .xqpublic .couponscomeing li i,.xiangqing .xqpublic .couponscomeing li span{ font-family:"Microsoft YaHei";}
.xiangqing .xqpublic .couponscomeing li i,.xiangqing .xqpublic .couponscomeing li em{ font-size:16px;}
.xiangqing .xqpublic .couponscomeing li a{color:#FFFFFF; height:100%; width:100%;}
.xiangqing .xqpublic .couponscomeing li span{ text-align:center; width:92px; font-size:40px; margin-top:5px;}

.xiangqing .xqpublic .couponscomeing li em{ vertical-align:top; margin-top:23px; margin-left:10px;}

/*领取优惠券 end*/


/*我的积分 begin*/

.jin_e{}
.jin_e span{ font-weight:bold; margin-right:15px;}
.jin_e span i{ font-size:35px; color:#d30015;font-family:"Microsoft YaHei";}
.jin_e a{ width:89px; height:29px; text-align:center; vertical-align: text-bottom;line-height:29px; }
.jin_e a.duihuan{ background:#00b7ee; color:#FFFFFF;}
.jin_e a.duihuan:hover{ background:#00a8db;}


.biaoge{ overflow:hidden; margin-top:30px;min-height:250px;}
.biaoge_top .left li{ float:left;}
.biaoge_top .left li a{ padding:9px 12px;}
.biaoge_top .left li a.focus{ background:#f19149; color:#FFFFFF;}
.biaoge_top .right{ position:relative; float:right; line-height:23px;}
.biaoge_top .right{ height:23px; overflow:hidden; border:1px solid #dcdcdc; width:93px;}
.biaoge_top .right li{ padding-left:5px;}
.biaoge_top .right span{ position:absolute; right:8px; top:8px; width:9px; height:5px;  background: url(../images/top_right_img.png) no-repeat;}

.biaoge_conter{ border-top:2px solid #f19149;}
.biaoge_conter span{ text-align:center;}
.biaoge_conter .top{ background:#f5f5f5; height:37px; line-height:37px;}
.biaoge_conter .buttom span{ line-height:0px; vertical-align:middle; height:77px;}

.jilu_public{ height:77px; border-bottom:1px solid #e5e5e5; padding:9px 0px;}

.biaoge_conter #comefrom{ width:429px; margin-left:15px;}
.biaoge_conter #change{ width:177px;}
.biaoge_conter #time{ width:236px;}
.biaoge_conter #beizhu{ width:198px;}

#comefrom .img,#comefrom .word{ float:left;}

#comefrom .img img{ width:77px; height:77px;}

#comefrom .word{ margin-left:10px; margin-top:12px;}
#comefrom .word .name{ line-height:16px; margin-bottom:7px;}
#comefrom .word .number{ color:#999;}



.biaoti{ margin-bottom:3px; overflow:hidden;}
.biaoti a{ float:right; color:#666666;}
.biaoti a:hover{color:#d30015; }
.biaoti a span{ font-weight:700; color:#d30015;}

.icandui{ overflow:hidden; margin-top:30px;}
.icandui .shangpin a{ font-size:14px;}
.icandui .shangpin .word{ line-height:20px; padding-left:7px; margin-top:5px;}
.icandui .shangpin{ width:170px; float:left; margin-right:56px;}
.icandui .shangpin .word p{ color:#999999;}
.icandui .shangpin .word p span{color:#d30015;}
.icandui .shangpin .nowdui{text-align:center; margin-left:32px; margin-top:5px;font-weight:bold; color:#FFFFFF; line-height:33px; display: inline-block; background:#f9bf15; width:106px; height:33px;}
.icandui .shangpin .nowdui:hover{ background:#f99015;}

.question{ margin-top:20px;}
.question dl{ line-height:20px; margin-bottom:5px;}
.question dt{ font-weight:bold;}
.question dd{ margin-left:18px;}
.question dd a{ font-weight:700;}

/*我的积分 end*/


/*积分商城 begin*/

.wid_border{ padding-left:1px;width:1077px; *width:1065px; border-top:2px solid #d30015;overflow:hidden; position:relative; z-index:1;}
.jifencheng .choose a{ padding:12px 19px; font-size:14px; }
.jifencheng .choose a.focus{ background:#d30015; color:#FFFFFF;}

#shangpincheng{ padding:17px 21.7px; border:1px solid #e5e5e5;position:relative; margin:0px; margin-left:-1px; margin-top:-1px;}
#shangpincheng:hover{ border:1px solid #d30015;  z-index:1;}

#box{ margin-top:30px;}

.pagination {
	text-align: center;
}

.pagination ul {
	display: inline-block;
}

.pagination li {
	float:left;
	margin-right:8px;
}

.pagination a {
	height: 34px; /* 40 */
	font-size: 12px; /* 20 */
	line-height: 34px; /* 40 */
	color: #333;
	float: left;
	border: 1px solid #dcdcdc;
	padding:0px 19px;/* 20 */
	margin-top: -1px;
	text-decoration: none;
}

.pagination li:not( :first-child ) a {
	margin-left: -1px;
}

.pagination-current a {
	color: #fff;
	background-color: #d30015;
}

.pagination li:not( .pagination-current ) a:hover {
	background-color: rgba( 0, 0, 0, .1 );
}

.pagination-prev a:before,
 .pagination-first a:before {
	border-left: none;
	border-right-color: #4d4348;
	margin-right: 0.313rem; /* 5 */
}


/*积分商城 end*/


.my_yongjin .top .buttom{ margin:0px 12px; background:#f39800; color:#FFFFFF; width:82px; height:25px; line-height:25px; text-align:center;}
.my_yongjin .top .money{ color:#d30015;}
.my_yongjin .top .money em{ font-size:45px;font-family:"Microsoft YaHei";}
.my_yongjin .top .hostory em{ color:#f39800;}

.biaoge .see{ border-top:2px solid #d30015;}
.biaoge .top{ background:#f5f5f5; height:40px; line-height:40px;}
.biaoge .top span i{ width:9px; height:5px; background:url(../images/top_right_img.png) no-repeat; margin-left:5px;}
.biaoge .time{ position:relative; width:400px; text-align:center;}

.biaoge .time .time_menu{ width:113px; margin-left:150px; border-left:1px solid #f5f5f5; border-right:1px solid #f5f5f5;}
/*.biaoge .time .time_menu:hover{ background:#FFFFFF; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.biaoge .time .time_menu:hover .time_list{ display:block;}*/
.biaoge .time .time_list{ margin-left:-1px; overflow:hidden; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background:#FFFFFF; position:absolute; line-height:27px; width:113px; text-align:left; z-index:100; display:none;}
.biaoge .time .time_list a{ padding-left:10px; width:100%; height:100%;}
.biaoge .time .time_list a:hover{ background:#F5F5F5; color:#d30015;}
.biaoge .change{ width:340px; text-align:center;}
.biaoge .zhuangtai{ width:332px; text-align:center; position:relative;}
.biaoge .center li{ height:38px; line-height:38px; border-bottom:1px solid #dcdcdc;}
.biaoge .zhuangtai{ width:332px; text-align:center; position:relative;}

.biaoge .zhuangtai .zhuangtai_menu{ width:100px; margin-left:116px;border-left:1px solid #f5f5f5; border-right:1px solid #f5f5f5;}
.biaoge .zhuangtai .zhuangtai_menu:hover{ background:#FFFFFF; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}

.biaoge .zhuangtai .zhuangtai_list{ border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background:#FFFFFF; overflow:hidden; width:100px; position:absolute; z-index:100; background:#FFFFFF; line-height:27px; text-align:left; display: none;}
.biaoge .zhuangtai .zhuangtai_list a{ width:100%; padding-left:5px;}
.biaoge .zhuangtai .zhuangtai_list a:hover{ background:#F5F5F5; color:#d30015;}
.biaoge .zhuangtai .zhuangtai_menu:hover .zhuangtai_list{ display:block;}


/*分销记录 begin*/

.fenxiao_jilu .jilubiao{ margin-top:20px;}
.fenxiao_jilu .jilubiao .choose .left{ float:left;}
.fenxiao_jilu .jilubiao .choose .left a{ padding:9px 23px; font-size:14px;}
.fenxiao_jilu .jilubiao .choose .left a.focus{ background:#d30015; color:#FFFFFF;}

.fenxiao_jilu .jilubiao .choose .right{ float: right;}
.fenxiao_jilu .jilubiao .choose .right input[type=text]{ width:134px; height:26px; padding:0px 5px; border:1px solid #d2d2d2;}
.fenxiao_jilu .jilubiao .choose .right input[type=submit]{ width:44px; height:28px; background:#d2d2d2; border:none;}
.fenxiao_jilu .jilubiao .neirong{ border-top:2px solid #d30015; overflow:hidden;}
.fenxiao_jilu .jilubiao .neirong div{ float:left; text-align:center;}
.fenxiao_jilu .jilubiao .neirong .top{ background:#f5f5f5; height:37px; line-height:37px;}
.fenxiao_jilu .jilubiao .neirong .top span i{ width:9px; height:5px; background:url(../images/top_right_img.png) no-repeat; margin-left:10px;}
.fenxiao_jilu .jilubiao .neirong .time{ width:219px;}
.fenxiao_jilu .jilubiao .neirong .time .time_more{position:relative; z-index:1; width:100px; margin-left:59.5px; border:1px solid #f5f5f5;}

.fenxiao_jilu .jilubiao .neirong .time .time_more:hover{ background:#FFFFFF;border:1px solid #dcdcdc;}
.fenxiao_jilu .jilubiao .neirong .time .time_more .time_choose{background:#FFFFFF;  display:none; }

.fenxiao_jilu .jilubiao .neirong .time .time_more .time_choose a:hover{ color:#d30015; background:#F5F5F5; width:100%;}
.fenxiao_jilu .jilubiao .neirong .time .time_more:hover .time_choose{ display:block;}

.fenxiao_jilu .jilubiao .neirong .fenxiaostyle{ width:165px;}
.fenxiao_jilu .jilubiao .neirong .fenxiaochanpin{ width:384px;}
.fenxiao_jilu .jilubiao .neirong .jiangjin{ width:165px;}
.fenxiao_jilu .jilubiao .neirong .zhuangtai{ width:109px;}

.fenxiao_jilu .jilubiao .neirong .list .bottom{ border-bottom:1px solid #dcdcdc; height:98px; line-height:98px;}

.fenxiao_jilu .jilubiao .neirong .list .bottom .fenxiaochanpin{ margin-left:30px; margin-top:13px; margin-left:}
.fenxiao_jilu .jilubiao .neirong .list .bottom .fenxiaochanpin img{ width:71px; height:71px;}
.fenxiao_jilu .jilubiao .neirong .list .bottom .fenxiaochanpin .img{ float:left;}
.fenxiao_jilu .jilubiao .neirong .list .bottom .fenxiaochanpin .word{ margin-top:5px;margin-left:8px; text-align:left; line-height:15px; float:left;}
.fenxiao_jilu .jilubiao .neirong .list .bottom .fenxiaochanpin .word .name{ margin-bottom:5px;}
.fenxiao_jilu .jilubiao .neirong .list .bottom .jiangjin{ width:108px;}
.fenxiao_jilu .jilubiao .neirong .list .bottom .zhuangtai{ width:167px;}


.fenxiao_jilu .jilubiao .neirong .fenxiaostyle .fenxiaostyle_more{position:relative; z-index:1; width:100px; margin-left:32.5px; border:1px solid #f5f5f5;}

.fenxiao_jilu .jilubiao .neirong .fenxiaostyle .fenxiaostyle_more:hover{ background:#FFFFFF;border:1px solid #dcdcdc;}
.fenxiao_jilu .jilubiao .neirong .fenxiaostyle .fenxiaostyle_more .fenxiaostyle_choose{background:#FFFFFF;  display:none; }
.fenxiao_jilu .jilubiao .neirong .fenxiaostyle .fenxiaostyle_more .fenxiaostyle_choose a:hover{ color:#d30015; background:#F5F5F5; width:100%;}
.fenxiao_jilu .jilubiao .neirong .fenxiaostyle .fenxiaostyle_more:hover .fenxiaostyle_choose{ display:block;}




.fenxiao_jilu .jilubiao .neirong .zhuangtai .zhuangtai_more{position:relative; z-index:1; width:80px; margin-left:14.5px; border:1px solid #f5f5f5;}

.fenxiao_jilu .jilubiao .neirong .zhuangtai .zhuangtai_more:hover{ background:#FFFFFF;border:1px solid #dcdcdc;}
.fenxiao_jilu .jilubiao .neirong .zhuangtai .zhuangtai_more .zhuangtai_choose{background:#FFFFFF;  display:none; }
.fenxiao_jilu .jilubiao .neirong .zhuangtai .zhuangtai_more .zhuangtai_choose a:hover{ color:#d30015; background:#F5F5F5; width:100%;}
.fenxiao_jilu .jilubiao .neirong .zhuangtai .zhuangtai_more:hover .zhuangtai_choose{ display:block;}



/*分销记录 end*/


/*个人信息 begin*/

.xinxi_form .xiang{ line-height:30px; float:left; text-align:right; width:70px; color:#666666;}
.xinxi_form .xiang i{color:#FC0C10;}
.xinxi_form input[type=text]{ height:30px; border:1px solid #cccccc; padding:0px 5px;}

.xinxi_form .xingbie label{ margin:8px 0px; margin-right:15px; float:left; font-size:12px; font-weight:normal; color:#666666; }

.xinxi_form .xingbie label input{ vertical-align: bottom;}

.xingbie:after,.birthday:after{ content:''; clear:both; width:100%; height:0; display:inline-block;}
.info select{ border:1px #dcdcdc solid; background:#FFFFFF; height:30px; width:100px;}
.info{ }
.info #show{ color:#3399FF; }
.birthday select{ height:100px;height:30px; width:80px; border:1px solid #DCDCDC; }
.xingqu{ overflow:hidden;}
.xingqu .choose{ float:left; width:500px; color:#666666;}
.xingqu .choose span{ line-height:30px;}
.xingqu .choose ul li{ float:left; margin-bottom:10px; padding:0px 10px; height:30px; line-height:30px; border:1px solid #cfcfcf; margin-right:14px;}

.xinxi_form a.submit{ margin-left:70px; padding:6px 14px; border:1px solid #bfd6af; border-radius:3px; background:#ecf7e5; color:#333333; margin-top:20px;}
.xinxi_form a.submit:hover{  background:#ddf1d0;}


/*个人信息 end*/

/*我的收货地址 begin*/


.dizhi{ margin-bottom:10px; margin-top:10px; padding:10px 0px; border:2px solid #e6e6e6; position:relative; line-height:25px;}

.dizhi li span{ width:100px; text-align:right; color:#999999;}

.dizhi li i{ color:#666666;}
.dizhi .cut{ width:12px; height:12px; background:url(../images/bg_some.png) no-repeat -48px -126px; position:absolute; right:10px; }
.dizhi .cut a{ width:100%; height:100%;}

.dizhi .dosomething{ position:absolute; right:0; bottom:10px;}
.dizhi .dosomething .moren{ background:#FFAA45; color:#FFFFFF; padding:2px 11px;margin-right:20px; }

.dizhi .dosomething a{ color:#005ea7; margin-right:20px;}

.dizhi .dosomething a:hover{ color:#d30015;}
.mydizhi .add_dizhi{ color:#333333; border:1px solid #bfd6af; background:#eaf6e2; padding:8px 15px; border-radius:5px; font-weight:700;}
.box_dizhi_form{ display:none; position: fixed; z-index:500;  width:100%; height:100%;left:0; top:0;}
.box_dizhi_form .zhezhao{ width:100%; height:100%; background:rgba(0,0,0,0.3); position:absolute;left:0; top:0; z-index:50; *background:#000000;*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}

.box_dizhi_form .dizhi_form{ position:absolute; left:50%; top:50%; margin-top:-214px; margin-left:-381px; z-index:60;outline:5px solid rgba(0,0,0,0.1); width:762px; height:429px; background:#FFFFFF;}

.box_dizhi_form .dizhi_form .title{ position:relative; border-bottom:1px solid #C4C4C4; line-height:38px; background:#F3F3F3; font-weight:700; width:100%;}

.box_dizhi_form .dizhi_form .title .cut{width:12px; height:12px; background:url(../images/bg_some.png) no-repeat -48px -126px; position:absolute; right:10px; top:10px;}
.box_dizhi_form .dizhi_form .title .cut a{ width:100%; height:100%;}
.box_dizhi_form .dizhi_form .title label{ padding-left:10px; font-size:14px;}

.box_dizhi_form .dizhi_form .form{}
.form .tishi{height:30px;font-size:18px;text-indent:30px;}
.form .tishi span{color:#ef363e;}

.box_dizhi_form .dizhi_form .form div .form_span{ width:100px; text-align:right; color:#999999;}
.box_dizhi_form .dizhi_form .form div .form_span i{ color:#FF0004;}




.box_dizhi_form .dizhi_form .form input{ height:30px; border:1px solid #CCCCCC; padding:0px 5px;}

.box_dizhi_form .dizhi_form .form a.saveaddress,a.savecommit,a.box_submit{ margin-left:106px; color:#333333; border:1px solid #bfd6af; background:#eaf6e2; padding:8px 15px; border-radius:5px; font-weight:700;}

/*我的收货地址 end*/



/*退款详情 begin*/

.now_zhuangtai
{
	margin: 0 auto;
	width: 349px;
	margin-bottom: 30px;
	margin-top: 50px;
}

.now_zhuangtai .icon, .now_zhuangtai em
{
	line-height: 0;
	vertical-align: middle;
}

.now_zhuangtai .icon
{
	width: 41px;
	height: 55px;
	background: url(../images/bg_some.png) no-repeat -65px -174px;
	margin-right: 23px;
}

.now_zhuangtai em
{
	font-size: 20px;
	font-weight: bold;
}

.tkxq_more
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.tkxq_more li
{
	color: #666666;
	line-height: 30px;
}

.tkxq_more li span
{
	font-size: 14px;
	font-weight: bold;
	color: #d30015;
}









/*退款详情end*/

/*腻ni 2016/1/7 星期四 下午 5:41:52
申请退款begin*/

.sqtk{ margin-top:20px;}

.sqtk .title
{
	height: 43px;
	line-height: 43px;
	font-size: 14px;
	font-weight: bold;
}

.sqtk .title span
{
	width: 303px;
	height: 43px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	background: #f2f2f2;
	color: #999999;
	margin-right: 10px;
}

.sqtk .title .nowon
{
	background: #d30015;
	color: #FFFFFF;
}

.sqform
{
	border: 1px solid #FBE5E7;
	overflow: hidden;
}

.sqtk .information
{
	overflow: hidden;
	margin: 20px;
	float: left;
	width: 430px;
	border: 1px solid #fbe5e7;
}

.sqtk .information .title
{
	height: 38px;
	line-height: 38px;
	background: #fbe5e7;
	padding-left: 10px;
}

.sqtk .information li
{
	overflow: hidden;
	color: #666666;
	padding: 14px 0px 14px 17px;
	border-top: 1px dashed #dcdcdc;
}

.sqtk .information li:nth-child(1)
{
	border: none;
	line-height: 18px;
}

.sqtk .information .more
{
	background: #f2f2f2;
	height: 31px;
	line-height: 31px;
	text-align: right;
	padding-right: 10px;
}

.sqtk .information .more a { color: #d30015; }

.sqtk .information .more a:hover{ text-decoration:underline;}

.sqtk .information li span
{
	font-weight: bold;
	color: #333333;
	font-size: 14px;
}

.sqtk .information .img
{
	width: 71px;
	height: 71px;
}

.sqtk .information .img, .sqtk .information .word { float: left; }

.sqtk .information .word
{
	margin-left: 11px;
	width: 319px;
}

.sqtk .howtk
{
	padding-bottom: 26px;
	float: left;
}

.sqtk .howtk .tkje
{
	height: 75px;
	padding-left: 17px;
}

.sqtk .howtk .tkje span.span1 { left: 7px; }

.sqtk .howtk .tkje span.span2 { left: 0px; }

.sqtk .howtk .tkje ul
{
	display: inline-block;
	margin-top: 35px;
}

.sqtk .howtk .tkje li
{
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	margin: 0px 4px;
	line-height: 25px;
}

.sqtk .howtk .tkje li:nth-child(2) { color: #d30015; }

.sqtk .howtk .tkje li:nth-child(4)
{
	width: 80px;
	text-align: center;
}

.sqtk .howtk .tkje li:nth-child(4), .sqtk .howtk .tkje li:nth-child(6) { position: relative; }

.sqtk .howtk .tkje li:nth-child(1), .sqtk .howtk .tkje li span
{
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}

.sqtk .howtk .tkje li:nth-child(6) select
{
	height: 26px;
	width: 75px;
	border: 1px solid #bfbfbf;
}

.sqtk .howtk .tkje li:nth-child(6) select option{ height:20px;}

.sqtk .howtk .tkje li span
{
	color: #999999;
	position: absolute;
	top: 25px;
}

.sqtk .howtk .tkyy span
{
	color: #666666;
	vertical-align: baseline;
}

.sqtk .howtk .tkyy span i { color: #d30015; }

.sqtk .howtk .tkyy label
{
	font-weight: normal;
	font-size: 12px;
	float: left;
	line-height: 30px;
}

.sqtk .howtk .tkyy
{
	margin-top: 25px;
	padding-left: 19px;
}

.sqtk .howtk .tkyy input, .sqtk .howtk .tkyy textarea
{
	border: 1px solid #d2d2d2;
	font-size: 12px;
}

.sqtk .howtk .tkyy input:focus,.sqtk .howtk .tkyy textarea:focus{ border:1px solid #D30015;}


.sqtk .howtk .tkyy input
{
	width: 224px;
	height: 30px;
	padding: 0px 5px;
}

.sqtk .howtk .tkyy textarea
{
	padding: 5px 5px;
	width: 476px;
	height: 100px;
	font-family: "宋体";
	resize: none;
}

#tjsq
{
	background: #f39800;
	width: 182px;
	height: 38px;
	color: #FFFFFF;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0px 26px 84px;
}

/*申请退款end*/

腻ni 2016/1/7 星期四 下午 5:42:02
/*订单详情begin*/

.ddxq_top
{
	background: #ffeef0;
	width: 100%;
	padding: 18px 18px 0px 18px;
	margin-top: 10px;
}

.ddxq_top span
{
	margin-right: 90px;
	margin-bottom: 18px;
}

.ddxq_top span em { color: #666666; }

.ddxq_botton { margin-top: 29px; }

.ddxq_botton .title
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

.ddxq_botton .ddxq_more
{
	border: 1px solid #dcdcdc;
	padding: 10px;
}

.ddxq_botton .ddxq_more .style { color: #666666; }

.ddxq_botton .ddxq_more p { margin-bottom: 14px; }

.ddxq_botton .ddxq_more .address
{
	border-bottom: 1px dashed #DCDCDC;
	margin-bottom: 15px;
	margin-top: 8px;
	padding-left: 8px;
}

.ddxq_botton .ddxq_more .zongji
{
	margin-top: 15px;
	color: #666666;
	text-align: right;
}

.ddxq_botton .ddxq_more .zongji span
{
	font-weight: bold;
	font-size: 16px;
	color: #d30015;
}

#ddxq_name { width: 317px; }

#ddxq_price { width: 100px; }

#ddxq_paydo
{
	width: 158px;
	text-align: center;
	line-height: 26px;
}

#ddxq_paydo a
{
	width: 80px;
	height: 26px;
	background: #d30015;
	color: #FFFFFF;
}

#ddxq_on { width: 135px; }

#ddxq_truepay { width: 150px; }

#ddxq_num { width: 124px; }

/*订单详情end*/
