@media all and (min-width:360px){
	#web_skin_index .banner{height:212px;}
}
@media all and (min-width:420px){
	#web_skin_index .banner{height:248px;}
}
@media all and (min-width:480px){
	#web_skin_index .banner{height:282px;}
}
@media all and (min-width:640px){
	#web_skin_index .banner{height:376px;}
}