#web_skin_index{width:100%; overflow:hidden; margin:0 auto; padding-bottom:1px;}
#web_skin_index .img{height:100%; overflow:hidden;}
#web_skin_index .img img{width:100%; height:100%;}
#web_skin_index .web_skin_index_list{float:left; _display:inline; overflow:hidden; position:relative; line-height:100px; margin-top:1px;}
#web_skin_index .banner{width:100%; height:160px; line-height:160px;}
#web_skin_index .banner *{width:100%; height:100%; overflow:hidden;}
#web_skin_index .i0{width:33%;}
#web_skin_index .i1{width:67%;}
#web_skin_index .i1 .img{padding-left:1px;}
#web_skin_index .i2{width:33%;}
#web_skin_index .i3{width:34%; *width:33%;}
#web_skin_index .i3 .text{margin:0 1px;}
#web_skin_index .i4{width:33%;}
#web_skin_index .i5{width:67%;}
#web_skin_index .i5 .img{padding-right:1px;}
#web_skin_index .i6{width:33%;}
#web_skin_index .i0, #web_skin_index .i1, #web_skin_index .i5, #web_skin_index .i6{height:100px; line-height:100px;}
#web_skin_index .i2, #web_skin_index .i3, #web_skin_index .i4{height:48px; line-height:48px;}
#web_skin_index .i2 .text a, #web_skin_index .i3 .text a, #web_skin_index .i4 .text a{display:block; width:100%; height:48px; line-height:48px; text-decoration:none; color:#fff; background:#727272;/*#356B99;*/ text-align:center; font-weight:bold; font-size:14px;}/*fc9306*/