_notes
/htdocs/Framework/dbconfig.php
/htdocs/pc/log.htm
/htdocs/nbproject
/htdocs/index.php
/htdocs/pc.php
htdocs/test.php
htdocs/pc.php
/htdocs/pc/modules/member/view/复件 web_code.edit.php
!*.exe
/htdocs/.project
/nbproject/private/
/nbproject
htdocs/static/api/pintuan/js/layer/1.9.3/
/.idea
/htdocs/include/api/const.php
/.vscode
