#skin_index_control{position:fixed; left:0px; bottom:0; width:100%; border-top:1px solid #C0C0C0; height:70px; display:block;}
#skin_index_control .bg{position:absolute; width:100%; height:100%; background:#000000; opacity:0.5;}
#skin_index_control .list-box{position:absolute; height:100%; left:26px; right:34px; overflow:hidden;}
#skin_index_control .list-box .item-box{position:absolute; top:0; left:0; white-space:nowrap;}
#skin_index_control .list-box .item-box .cate-item{height:100%; width:58px; margin:5px 2px; overflow:hidden; position:relative; display:inline-block; text-decoration:none; color:#fff;}
#skin_index_control .list-box .item-box .cate-item img{margin:2px auto; width:40px; height:40px; display:block;}
#skin_index_control .list-box .item-box .cate-item div{text-align:center; font-size:12px; overflow:hidden; margin:3px auto; color:#fff; white-space:nowrap;}
#skin_index_control .toolbar-item{position:absolute; top:0; width:34px; height:100%; background:#FF0000;}
#skin_index_control .left{left:0; background:url(left.png) center no-repeat;}
#skin_index_control .right{right:0; background:url(right.png) center no-repeat;}