/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

#wedding .photo_list dd{border:1px solid #ccc; background:#f7f7f7; overflow:hidden; margin:0 15px 15px 0; width:239px; height:175px; float:left;}
#wedding .photo_list dd.placeHolder{border:dashed 1px #1584D5; background:#fff;}
#wedding .photo_list ul li.name{height:25px; line-height:25px; overflow:hidden; background:#ddd; cursor:move; text-indent:3px;}
#wedding .photo_list ul li.img{height:150px; padding-top:1px; overflow:hidden; background:#ccc;}
#wedding .photo_list ul li.img img{width:100%; min-height:150px;}

#albums_size{float:left; border:1px solid #ddd; background:#f7f7f7; height:30px; line-height:30px; width:385px; position:relative; overflow:hidden; border-radius:5px; margin-right:10px;}
#albums_size span.bg{display:block; background:#1584D5; height:30px; left:0; top:0; position:absolute;}
#albums_size span.txt{display:block; width:100%; left:0; top:0; position:absolute; text-align:center; font-size:12px;}

#wedding .rows .input .copy{display:none;}
#wedding .size_full{text-align:center; padding:50px; font-weight:bold; color:#555; border:1px solid #ddd; background:#fafafa;}
#wedding .size_full .f{width:380px; margin:0 auto; margin-bottom:30px;}
#wedding #upload_img li{margin-top:5px; height:125px;}
#wedding #upload_img li .img{float:left; border:1px solid #ddd; background:#fff; width:180px; height:120px; overflow:hidden; position:relative;}
#wedding #upload_img li .img img{width:100%; min-height:120px;}
#wedding #upload_img li .img .del{position:absolute; bottom:0; height:22px; line-height:22px; text-align:center; background:#000; width:100%; color:#fff; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; cursor:pointer;}

#albums-list-type{height:300px; margin-top:9px;}
#albums-list-type li{float:left; width:220px; height:300px; overflow:hidden; padding-right:8px;}
#albums-list-type li .item{position:relative; width:200px; height:300px;}
#albums-list-type li .item .img{position:absolute; width:200px; height:300px; z-index:1;}
#albums-list-type li .item .filter{position:absolute; width:200px; height:300px; z-index:2;}
#albums-list-type li .item .bg{position:absolute; width:200px; height:300px; z-index:3;}
#albums-list-type li .item_on .filter{background:#000; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7;}
#albums-list-type li .item_on .bg{background:url(../images/albums/selected-icon.png) center center no-repeat;}