#web_skin_index{width:100%; height:100%; overflow:hidden; background:#ddf2f2;}
#web_skin_index .web_skin_index_list{overflow:hidden; position:relative; z-index:1}
#web_skin_index img{width:100%; height:auto;}
#web_skin_index .banner{width:100%; height:175px; overflow:hidden;}
#web_skin_index .banner *{width:100%; height:100%; overflow:hidden;}

#web_skin_index .web_warp .m0{margin-left:2%;}
.web_warp{width:100%; margin:0px auto; padding-bottom:10px;}
.web_warp .item{width:100%; margin-top:10px;}
.web_warp .item .box{width:32%; float:left;}
.web_warp .item .box .img{width:90%; margin:0px auto;}

