/*全局样式*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background:#F3F3F3;
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a:hover{text-decoration:none;}
hr{margin-top:0;margin-bottom:0;}
li{list-style:none;}
.fr{float:right;}
.fl{float:left;}
.blue {color:#188eee;}
.red {color:#ef363e;}
.grey{color:#D1D1D1;}
.shallow_grey{color:#b5b5b5;}
.btn-danger{background:#EF363E;}
.btn-warning{background:#FF8A00;}


a {color:#333333;}
a:hover {color:#000000;}

/*导航栏样式*/

.nav {background:#188eee;height:40px;padding-top:5px;}
a.logo{display:block;margin-top:5px;}
#search_btn {cursor:pointer;}
.white{color:#ffffff}
.nav form{margin-top:2px;}
#nav-keyword{height:18px;width:85%;box-shadow:none;border-radius:5px;}
.nav form span.icon-search{margin-top:5px;}
.nav .col-xs-8 {padding-left:0px;padding-right:0px;}
.nav .col-xs-2 {padding-left:0px;padding-right:0px;}
.nav-search-icon {font-size:1.5em;}
.nav .header-icon{text-align:center;margin-top:2px;}

#search_btn{cursor:pointer;height:30px;line-height:30px;position:absolute;top:0px;right:0px;padding-right:15px;}

/*标题栏样式*/
.header-bar {padding-top:5px;text-align: center;background-color: #F5F5F5;border-top: 1px solid #FFF;border-bottom: 1px solid #DDD;}
.header-bar h5{margin-top:5px;margin-bottom:0px;}
.header-bar .cur a{color:#188EEE;}

/*商品描述*/
.desc{margin:0 auto;border-bottom:1px solid #D1D1D1;padding-left:10px;padding-right:10px;padding-bottom:5px;}
.desc h4{font-weight:bold;}
.desc .cur_price{font-size:1.1em;}
.button-panel {text-align:center;padding:10px 0;border-bottom:5px solid #f3f3f3;}


/*商品属性*/
.desc .info{padding:10px 0 0 0;}
.desc .info li.property{height:auto; padding-top:4px;}
.desc .info li.property table{border-collapse:collapse; border-spacing:0;}
.desc .info li.property td{vertical-align:top; padding:0;}
.desc .info li.property span{border:1px solid #ddd; padding:0 10px; margin:2px 5px 4px 0; height:24px; line-height:24px; overflow:hidden; display:inline-block; background:#fff;}
.desc .info li.property span.cur{border:1px solid red; background:#ffffff;}

.desc .go-detail{background:#FFF; margin-top:8px; border-radius:5px; font-size:16px;margin-right:10px;}
.desc .go-detail a{font-size:16px; color:#5a5a5a; display:block; width:100%; text-indent:10px; padding:8px 0px}
.desc .go-detail a span{float:right; margin-right:8px; background:url('../image/right-arrow.png') no-repeat right center; padding:0px 10px}

#help_kan{float:none;}
#self_kan{float:none;}
#invite_kan{float:none;}

.kanjia_list .title h5{padding-left:10px;}
.kanjia_lsit hr{heihgt:1px;margin:0;padding:0;}
.laknjia_list caption {border-bottom:1px solid #D1D1D1;}
.kanjia_list .table > tbody > tr > td{border-top:0px;text-align:center;}
.kanjia_list .table{margin-top:10px;width:80%;float:none;}

/*购买面板*/
.buy-panel {background:#dadada;margin-bottom:0px;padding-top:5px;padding-bottom:5px;}
.buy-panel li {height:40px;line-height:40px;}
.buy-panel .col-xs-5 {padding:0;}
.buy-panel #buy_btn{width:100%;}
/*shop页样式*/
.filter{margin-bottom:5px;padding-bottom:0px;margin:0 auto;}
.filter li {padding-left:5px;padding-right:5px;list-style:none;height:34px;line-height:30px;font-size:15px;}
.filter .col-xs-3{padding-left:0px;padding-right:0px;}
.product_list {background:#f3f3f3;margin-top:10px;}
.product_list .well{padding:8px;margin-top:5px;border:0px solid #e2e2e2;border-radius:1px;background:#ffffff;box-shadow:none;}
.product_list .item{margin-bottom:10px;}
.product_list .item .row{margin-left:0px;margin-right:0px;}
.product_list hr{margin-top:5px;margin-bottom:5px;}
.product_list h5 {margin:0px;margin:5px 0;font-weight:bold;font-size:14px;}
.product_list p {margin:0px;font-size:13px;margin-bottom:2px;}
.product_list .item .item_desc{margin:5px 0;padding-right:5px;border-right:1px solid #D1D1D1;width:32%;}
.product_list .item .image{margin-left:10px;padding:5px 10px;}
.product_list ul.brief_info{padding:5 20px;margin-bottom:0px;}
.product_list ul.brief_info li{padding-left:0px;padding-right:0px;}
.product_list .kan-button{height:77px;line-height:77px;text-align:center;margin-top:10px;}
.product_list .col-xs-2{padding-left:10px;padding-right:0px;}
.product_list span.cur-price{font-size:15px;font-weight:bold;}
/*底部导航样式*/
.navbar-default {
  background:rgba(0,0,0,0.8);
  border-color: #000000;
}

.footer .col-xs-2{padding-left:5px;padding-right:5px;width:18%;}
#footer-nav{padding:5px 0;background:rgba(0,0,0,0.8);margin-bottom:0px;} 
#footer-nav li{text-align:center;}
.footer a{color:white;}

/*分享层样式*/
.share_layer{width:100%; height:100%; overflow:hidden; text-align:right; position:fixed; top:0px; left:0px; display:none; z-index:100000;}
.share_layer img{max-width:600px; width:100%; position:relative;}
.b10{height:10px; font-size:1px; width:100%;}

/*订单页面样式*/
.order_info {padding-top:10px;padding-bottom:10px;background:#f5f5f5;}
.order_info .well{margin-left:5px;margin-right:5px;padding:5px;background:#ffffff;border:1px solid #ddd;margin-bottom:10px;}
.order_info h5{font-weight:bold;}
.order_info hr{margin:5px 0;}
.order_info .table {margin-bottom:5px;}
.order_info #order_remark{padding-bottom:30px;}
.order_sum .col-xs-5 {padding-left:0px;padding-right:0px;}
.order_sum #submit{width:100%;}   
#address_info ul{padding-left:10px;}
#new_address_info{display:none;margin-left:10px;margin-right:10px;}
#order_form .form-control{width:90%;}
#diqu .form-control{width:auto;}

/*产品详细页样式*/
#detail #description{margin:8px;}
#detail #description .contents{line-height:180%; overflow:hidden; min-height:250px;}
#detail #description div img{
	width:100%;
}

#detail .productshow_title { padding:10px 0px;}
#detail #description{margin:8px;}
#detail #description .contents{line-height:180%; overflow:hidden; min-height:250px;}
#detail #description div img{
	width:100%;
}

#detail h5{height:35px;border:1px solid #e7e7e7; line-height:35px; border-left:0; border-right:0; width:100%; margin:0px 0px 5px 0px; padding:0px; color:#ff0000; text-align:center}
#detail .desc{padding:5px 0px;border-bottom:0px;}
#detail .desc h5 span{display:block; height:35px; line-height:35px; text-align:center; width:50%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; float:left; cursor:pointer; color:#000}
#detail .desc h5 span.cur{color:#ff0000}

.commit_list{ margin:8px 5px;}
.commit_list table{margin:0px 0px 8px 0px; border-bottom:1px #ddd dotted}
.commit_list table td{line-height:26px;}
.commit_list .commit_time{padding-left:8px; font-size:14px; font-family:"Times New Roman"; color:#F60}
.commit_list .commit_note{padding:0px 16px; font-size:12px; color:#696969; line-height:20px}
.commit_list .commit_score{color:#7d0000; text-align:right; padding-right:8px; font-size:16px; font-family:"Arial, Helvetica, sans-serif"}


