body,html{background:#fff;}
#web_skin_index{width:100%; max-width:640px;margin:0 auto; background:#fff;}
.clean{ clear:both;}
.wrap_content{width:100%; overflow:hidden;}

.packagep0Sprite .wrapP0Item{ margin-left:0.05%; float:left; width:33.3%;}
.packagep0Sprite .wrapP0Item .p0Img{ width:100%;}
.packagep0Sprite .wrapP0Item .p0Img img{ vertical-align:top;}
.packagep0Sprite .wrapP0Item .p0Word{ width:100%; height:28px; line-height:28px; text-align:center; overflow:hidden;}

.packagep1Sprite .wrapP1Item{ float:left; width:50%;}
.packagep1Sprite .wrapP1Item .p1Img img{ vertical-align:top; display:block;}
.packagep1Sprite .wrapP1Item .p1Img{ width:100%;}
.packagep1Sprite .wrapP1Item .p1Word{ width:100%; height:28px; line-height:28px; text-align:center; overflow:hidden;}

.packagep2Sprite .p2word{ line-height:22px; padding:5px;}

.packagep3Sprite .wrapP3Item{ float:left; width:100%;}
.packagep3Sprite .wrapP3Item .p3Img img{ vertical-align:top; display:block;}
.packagep3Sprite .wrapP3Item .p3Img{ width:100%;}
.packagep3Sprite .wrapP3Item .p3Word{ width:100%; height:28px; line-height:28px; text-align:center; overflow:hidden;}

.packagep4Sprite{overflow:hidden; position:relative;}
.packagep5Sprite{ width:100%;}
.packagep5Sprite li{height:28px; float:left; line-height:28px; width:50%; overflow:hidden; background:url(tel.png) 3px 4px no-repeat; text-indent:16px;}
.packagep5Sprite li a{text-decoration:none;}

@media all and (max-width:320px){
	.packagep0Sprite .wrapP0Item{ margin-left:1px; float:left; width:33.3%;}
}

@media all and (max-width:360px){
	.packagep0Sprite .wrapP0Item{margin-left:1px; float:left; width:33.3%;}
}