*{margin:0px; padding:0px;}
ul, li, dt, dd, ol, dl{list-style-type:none;}
a{color:#666; text-decoration:none;}
a:active {color:#ff5000;}
input, textarea, button, a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }
.clear{clear:both;}
img{border:none;}
.left,.l{float:left;}
.right,.r{float:right;}
body{background-color:#f8f8f8;-webkit-tap-highlight-color:transparent;font-size:14px; font-family:"微软雅黑"}
.w{width:100%; margin:0 auto;}
.blank10{height:10px;font-size:0px;clear:both;margin:0px auto;}
.blank20{height:20px;font-size:0px;clear:both;margin:0px auto;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 

/*产品首页*/
.header{ background:#fff; overflow:hidden;}
.header ul{}
.header ul li{ float:left; width:33.3%; text-align:center; padding:10px 0px;}
.header ul li p{ line-height:20px;}
.sorting{ background:#fff; overflow:hidden; margin-top:5px;}
.sorting ul{ border-bottom:1px #eee solid; overflow:hidden;}
.sorting ul li{ float:left; width:25%; text-align:center; padding:10px 0px;}
.sorting ul li a.pro_asc{ color:#ff5000;}
.product{overflow:hidden; }
.product ul{}
.product ul li{ margin-bottom:5px; background:#fff; }
.product ul li div a span.imgs{ padding:5px;text-align: center; width:115px}
.product ul li div a span.imgs img{ position:absolute ;display: block;text-align: center;}
.product ul li div a span.imgs p{ position:relative; top:90px; background:#ff5000; color:#fff; left:50px; height:20px; width:60px}
.product ul li div a span.main{ width:58%;}
.product ul li div a span.main p{ line-height:25px; max-height:50px; overflow:hidden; color:#333;}
.product ul li div a span span{ color:#999; line-height:22px; font-weight:normal; font-size:12px}
.product ul li div ul li{ width:33%; float:left; text-align:center; padding-top:5px}
.product ul li div ul li a{ color:#999;}
.kb{ margin-top:50px;}
.bottom_x{ position:fixed; z-index:1000; overflow:hidden; width:100%; bottom:0px; left:0; border-top:1px #eee solid; background:#fff;}
.foot_nav{ color:#666; }
.foot_nav ul{}
.foot_nav ul li{ width:33.3%; float:left; line-height:50px; text-align:center;}

/*店铺管理*/
.commenting{padding: 10px 20px; position: relative; display: inline-block; padding-bottom:0;font-size:22px;}
.commenting a{ color:#fff; }
.commenting p{ background: red;border-radius: 50%; display: block; height: 16px; top:8px; right:12px;position: absolute;min-width:16px; font-size:14px;text-align: center;line-height: 16px; color: #ffffff;font-style: normal;}
.commenting p a{color:#fff; padding:0 2px;}
.head_bg{ background:#1fb4f8;overflow: hidden;color: #fff;}
.head_pho{padding: 30px 10px; padding-top:15px; text-align:center; font-size:12px}
.head_name{ padding-top:15px;} 
.head_name a{ color:#fff; line-height:30px; font-size:15px;}
.head_name p{ font-size:10px; border-radius:4px; line-height:16px;}
.head_name p i{ background:#e9cc09; border-radius:5px;padding:0 5px 0 2px; font-size:13px;}
.head_name p span{}
.head_pho a img{ display: inline-block; width:45px; height:45px;border-radius: 50%;}
.head_pho a i{ color:#fff; padding:5px 0 0 0; font-size:22px;/*filter:alpha(opacity=50);-moz-opacity:0.7;opacity:0.7;*/}


.income_x{background: #00a0e9;
    position: relative;
    padding: 10px 0;}
.income_t{ overflow:hidden}
.income_t li{width: 49.5%;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    position: relative;
    line-height: 24px;}
.income_t li a{ color:#fff;}
.income_t li p.price_t{font-family: "Times New Roman";
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;}
.income_today{ background:#fff; overflow:hidden; padding:10px; border-bottom:1px #eee solid}
.income_today span p.in{line-height: 20px;
    color: #666;
    font-size: 14px;
    margin-top: 5px;}
.income_today span p.price_in{line-height: 35px;
    color: #ff3d00;
    font-size: 30px;
    font-family: "Times New Roman";
}
.income_today span a i{ padding-top:10px; font-size:30px; color:#999}
.daily_x{ background:#fff; overflow:hidden; margin-bottom:5px;}
.daily_x ul{ padding:15px 0; overflow:hidden}
.daily_x ul li{ width:33.3%; float:left; text-align:center; color:#666; line-height:22px;}
.product_x{background: #fff;
    padding: 10px 0;
	overflow:hidden}
.product_x ul{}
.product_x ul li{width: 49.5%;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 40px;}
.product_x ul li a{ color:#ff3d00}
.plate_x{background: #fff;
    border-bottom: 1px #f4f4f4 solid;
    position: relative;
    margin-top: 5px;}
.plate_x:before{border-bottom: 1px solid #f4f4f4;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;}
.plate_x ul.list_x{overflow: hidden;}
.plate_x ul li{ width: 25%;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #666;
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    line-height: 25px;}
.plate_x ul li p{ height:25px; overflow:hidden}
.plate_x ul li img{ display:block; margin:0 auto}
.plate_x ul li:before{border-left: 1px solid #f4f4f4;
    bottom: 0;
    content: "";
    position: absolute;
    left: 0;
    top: 0;}
.plate_x ul li:after{border-bottom: 1px solid #f4f4f4;
    bottom: -.5px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;}
.kb{ margin-top:50px;}
.bottom{ position:fixed; width:100%; bottom:0px; left:0; overflow:hidden; z-index:9999; border-top:1px #f4f4f4  solid; background-color:#fff;}
.footer{  width:100%;  margin:0 auto; overflow:hidden;
		   }
.footer ul li{ float:left; width:25%; 
				  text-align:center;
				    font-size:13px;
					padding-bottom: 5px; 
				   }
.footer ul li a{ color:#666;}

/*产品库*/
.back_x{ background:#fff; overflow:hidden; line-height:45px; color:#666; text-align:center; padding:0 10px;}
.back_x a i{ line-height:45px}
.primary_x1{ background:#fff; overflow:hidden; margin:5px auto; }
.primary_x1 p{ line-height:35px; padding:0 1%; color:#333;overflow:hidden}
.primary_x1 p span{ line-height:35px}
.primary_x1 ul{}
.primary_x1 ul li{ display: inline-block;
    position: relative;
	 width: 48%;
	 float: left;
    font-size: 14px;
    color: #666;
	padding:0 1%}
.primary_x1 ul li:before{border-left: 1px solid #f4f4f4;
    bottom: 0;
    content: "";
    position: absolute;
    left: 0;
    top: 0;}
.primary_x1 ul li:after{border-bottom: 1px solid #f4f4f4;
    bottom: -.5px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;}
.primary_x1 ul li span.primary_pr{width: 60%;padding-left: 2%;} 
.primary_x1 ul li span{ line-height:30px}
.primary_x1 ul li span p{ color:#999; font-size:12px; line-height:25px}
.primary_x1 ul li span img{ border-radius:50%; width:35px; height:35px; margin-top:10px;margin-right: 10px;}

/*商品分类*/
.bj_x{ background-color:#fff;border-bottom:1px #f4f4f4 solid;}
.box{ text-align:center;}
.box span i{ padding-top:5px; padding-left:5px; color:#666}
.sousuo_x{ line-height:25px; margin:5px 0;font-size:12px; width:75%;
           background:url(../images/ss.png) no-repeat left;
		   background-size:14px 14px;
		   text-indent:18px;
		   background-color:#fff;
       border-radius:5px;
	   border:1px #d9d9d9 solid;}
.ss1_x{ font-size:12px; color:#999;}
.up_xx{ display:block; background:#ff5000; color:#fff; border:none; line-height:25px; width:70px; margin-top:10px}
.up_yy{ display:block; color:#fff; border:none; line-height:25px; width:70px; margin-top:10px;background-color: #ccc;text-align: center;}
.select{-webkit-appearance: none;border:1px;width: 130px;height: 30px;line-height: 30px;font-size: 16px;margin:10px;}
.select_containers{margin:10px 10px 20px 10px;height: 110px;line-height: 55px;font-size: 16px;}

/*订单管理*/
.slideTxtBox{ width:100%; background:#fff; margin:5px 0px;text-align:center;  }
.slideTxtBox .hd{ height:35px; line-height:35px; position:relative; }
.slideTxtBox .hd ul{ float:left;  position:absolute;height:35px;   width:100%;  }
.slideTxtBox .hd ul li{ float:left;cursor:pointer; width:14%; margin:0 3%;}
.slideTxtBox .hd ul li.on{ height:35px; color:#ff5500; border-bottom:2px #ff5500 solid  }
.slideTxtBox .bd ul{ zoom:1; border-top:5px #f8f8f8 solid}
.slideTxtBox .bd li{ background:#fff; overflow:hidden; border-bottom:5px #f8f8f8 solid;line-height:25px;}
.slideTxtBox .bd li div.line_x{ border-bottom:1px #eee solid; overflow:hidden; padding:5px}
.slideTxtBox .bd li span.state{ color:#ff5500}
.slideTxtBox .bd li div.pro_xt{position: relative;	clear: both;padding: 8px;background: #fff;}
.slideTxtBox .bd li div.pro_xt .img_xt{width: 90px;overflow: hidden;position: absolute;border: 1px solid #eee;}
.slideTxtBox .bd li div.pro_xt .img_xt img{width: 90px;height: 90px;float: left;}
.slideTxtBox .bd li div.pro_xt dl{overflow: hidden;margin-left: 98px; margin-right: 5px; min-height: 90px;  width: 200px; float: left;    text-align: left;}
.slideTxtBox .bd li div.pro_xt dl dd.name_xt{white-space: nowrap; text-overflow: ellipsis; }
.slideTxtBox .bd li div.pro_xt dl dd.name_xt a{ color:#333; font-size:14px}
.slideTxtBox .bd li div.pro_xt dl dd{ color:#666; font-size:12px}

/*我的会员*/

.user_ls{}
.user_ls ul{ margin-top:5px}
.user_ls ul li{ background:#fff; overflow:hidden; margin-bottom:5px; padding:5px}
.user_ls ul li span img{ width:50px; height:50px;}
.user_ls ul li span.infor_x{ line-height:20px; padding-left:10px; padding-top:5px}
.user_ls ul li span i{ line-height:50px; padding-right:10px; color:#666}

/*学习中心*/
.learn_list{}
.learn_list ul{ margin-top:5px}
.learn_list ul li{ background:#fff; overflow:hidden; margin-bottom:5px; padding:5px; line-height:25px; height:50px}
.learn_list ul li a p{ color:#999}
.learn_ll{ margin-bottom:30px; overflow:hidden; margin-top:5px}
.learn_ll p{ line-height:50px; color:#333; font-size:16px; text-indent:1em;}
.learn_ll ul{ background:#fff; overflow:hidden}
.learn_ll ul li{ line-height:20px; border-left:2px solid #ff5500; margin:12px 0;}
.learn_ll ul li a span.learn_number{ text-indent:2em; color:#666}
.learn_ll ul li a span.learn_title{ margin-left:15px; width:80%; color:#666}
.learn_main{ background:#fff; overflow:hidden; margin-top:5px; padding:10px;}
.learn_main h3{ line-height:25px; margin:5px 0;}
.learn_main h5{ color:#999; font-weight:normal}
.learn_main p{line-height:23px; margin:5px 0; color:#666}
.learn_main div.image_x{ width:99%; margin:5px auto;}
.learn_main div.image_x img{ width:100%;}

/*网页版*/
.logo_name{ background:#fff; margin-top:5px; overflow:hidden; text-align:center; line-height:20px; padding:10px;}
.logo_name a{ color:#ff5500}
.function_x{ line-height:40px; text-indent:0.5em;}
.function_list{ background:#fff; overflow:hidden; padding:10px 20px;color:#999; line-height:30px}

/*店铺配置*/
.shop_list{}
.shop_list ul{ margin-top:5px}
.shop_list ul li{ background:#fff; overflow:hidden; margin-bottom:5px; padding:5px; line-height:35px; color:#666}
.shop_list ul li a p{ color:#999}
.shop_list ul li a span span{ color:#999; padding-left:10px; font-size:12px}
.shop_list ul li a span i{ color:#999; padding-right:15px}
.box_setting{ background:#fff; overflow:hidden; margin:5px 0; text-align:center}
.box_setting input{ width:95%; border:none; line-height:35px; padding:5px; color:#333;}
.sub_setting{ text-align:center; overflow:hidden}
.sub_setting input{ width:95%; margin:10px auto; background:#ff5500; color:#fff; text-align:center; line-height:40px; border:none; border-radius:5px; font-size:15px;}

.shop_share{text-align: center; margin-top:20px}
.shop_share textarea{ color:#666; font-weight:normal; line-height:35px;padding:5px; width:95%; outline:none}
.pic_add{ width:95%; margin:0 auto; overflow:hidden;}
.ccc{ text-align:center;position:relative }
.ccc img{height:200px;}
.ccc span{ position:absolute; bottom:0px; background:#333; width:95%; left:2.5%; line-height:30px;filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7; opacity: 0.7; color:#fff}



/*我的分类*/
.cate_list{}
.cate_list ul{}
.cate_list ul li{ background:#fff; overflow:hidden; margin:5px 0; padding:10px; line-height:20px; color:#333; text-align:left}
.cate_list ul li span p{ color:#666; height:20px; overflow:hidden}
.cate_list ul li span h1{ color:#333; height:20px; overflow:hidden; line-height:20px; font-size:14px}
.cate_list ul li span.title_x{ width:70%; height:40px;}
.cate_list ul li span.edit_x{line-height: 38px; color: #999; font-size: 20px; font-weight:normal}
.cate_list ul li span i{padding-right: 10px;}
.foot_nav1{ color:#666; }
.foot_nav1 ul{}
.foot_nav1 ul li{ width:50%; float:left; line-height:50px; text-align:center;}

/*弹窗-新建分类*/

.new_cate{width:100%;
    text-align: center;
    margin: 0 auto;}
.new_cate input{ line-height:30px; height:30px; margin:5px auto; width:90%}
.new_cate div.but_x{ margin:5px auto; overflow:hidden; width:100%;}

.new_cate div span{ width:46%; margin:0 2%;}
.new_cate div span button{ width:90%; height:30px; line-height:30px;}
.new_cate div span button.button_x{ background:#ccc; border:none; color:#333}
.new_cate div span button.button_x1{ background:#ff5500;  border:none; color:#fff}

.new_cate div span button.edit_button_x{ background:#ccc; border:none; color:#333}
.new_cate div span button.edit_button_x1{ background:#ff5500;  border:none; color:#fff}


/*订单管理*/
.slideTxtBox .order_x ul{ zoom:1; border-top:5px #f8f8f8 solid}
.slideTxtBox .order_x li{ background:#fff; overflow:hidden; border-bottom:5px #f8f8f8 solid;line-height:28px; padding:10px 10px; border-bottom:1px #eee solid; text-align:left}

/*产品详情*/
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide img{ width:100%;}
.main_xx{ background:#fff; overflow:hidden; padding:5px}
.main_xx p{ line-height:30px; height:30px; overflow:hidden; color:#333}
.main_xx span{ color:#999; line-height:22px; font-size:12px}
.main_xx span h3{ color:#ff5500; line-height:30px; font-size:18px}
.main_xx span a{ background:#ff5500; padding:5px 15px; color:#fff; font-size:14px}
.commit{ background:#fff; overflow:hidden; margin-top:5px;}
.commit p{ line-height:35px; border-bottom:1px #eee solid; padding:5px;}
.commit span img{ border-radius:50%;}
.commit span.name_x{ line-height:35px}
.commit span.score{ color:#ff5500; line-height:35px; padding-right:5px}
.commit span.commit_x{ line-height:25px; padding:0 5px; color:#666; max-height:50px; overflow:hidden}
.commit div{ text-align:center}
.commit button{ background:#fff; border:1px #ff5500 solid; color:#ff5500; text-align:center; line-height:25px; padding:0 15px; margin:10px auto;}
.slideTxtBox .produ_x1{ height:35px; line-height:35px; position:relative; }
.slideTxtBox .produ_x1 ul{ float:left;  position:absolute;height:35px;   width:100%;  }
.slideTxtBox .produ_x1 ul li{ float:left;cursor:pointer; width:49.8%; margin:0}
.slideTxtBox .produ_x1 ul li.on{ height:35px; color:#ff5500; border-bottom:2px #ff5500 solid  }
.slideTxtBox .produ_x ul{ zoom:1; border-top:5px #f8f8f8 solid}
.slideTxtBox .produ_x li{ border-bottom:0;}
.slideTxtBox .produ_x li img{ width:100%; display:block;}




/*分销管理*/
.list_table{ background:#fff; overflow:hidden;margin-top:5px;padding:5px 0}
.list_table input{ margin:5px auto}
table{
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
td{
    height:35px;
}
.table{
    border:1px solid #cad9ea;
    color:#666;
}
.table th {
    height:30px;
    border:1px solid #cad9ea;
    padding:0 1em 0;
    width:35%
}
.table td{
    border:1px solid #cad9ea;
    padding:0 1em 0;
    width:65%
}
.table td a{ color:#ff5500}

.slideTxtBox .distribute_x{ height:35px; line-height:35px; position:relative; }
.slideTxtBox .distribute_x ul{ float:left;  position:absolute;height:35px;   width:100%;  }
.slideTxtBox .distribute_x ul li{ float:left;cursor:pointer; width:33.3%; margin:0}
.slideTxtBox .distribute_x ul li.on{ height:35px; color:#ff5500; border-bottom:2px #ff5500 solid  }

/*会员管理*/

.table_x{
    color:#666;
}
.table_x th {
    height:30px;
    width:30% ;
    text-align:right;
    padding-right:0.8em
}
.table_x td{
    padding:0 0.5em 0;
    width:70%
}
.table_x td a{ color:#ff5500}
.user_input{ border:1px #ddd solid; height:30px; line-height:30px; width:100%; text-indent:0.5em; color:#666; outline:none}
.table_x tr td select{ color:#999; outline:none; margin-bottom:5px}
.table_x tr td select option{outline:none;}
.back_xx{background:#ff5000; color:#fff; border:none; line-height:25px; width:70px; margin-top:10px; outline:none}
.next_yy{ color:#fff; border:none; line-height:25px; width:70px; margin-top:10px;background-color: #999;text-align: center;outline:none}
.img_tab{ width:96%; text-indent:0.5em; color:#666; line-height:30px; overflow:hidden}
.img_tab th { text-align:left;}
.img_tab th input{ outline:none; border-bottom:1px #ddd dashed; width:100%; padding-bottom:10px}
.user_input{ border:1px #ddd solid; height:30px; line-height:30px; width:100%; text-indent:0.5em;}

/*发布产品*/
.name_pro{background:#fff; overflow:hidden;margin-top:5px;padding:5px 0}
.name_pro input{ width:100%; border:none; line-height:40px; text-indent:1em; color:#666;}
.name_pro div.img_add{width:100%; height:46px; margin-left:15px; text-align:center;}
.name_pro div.img_add a{ font-size:35px; color:#999;}
.name_pro .note{ clear:both; color:#999; margin-left:1em; line-height:35px}
.table_x td select{text-indent:0.5em;width:100%;height:30px;border:1px #ddd solid;}
.but_lab input{ height:15px; margin:10px 0; width:30px}
.but_lab ul li{ text-align:left}
.pro_foot{ line-height:35px; text-align:center; width:94%; background:#ff5500; margin:5px auto}
.pro_foot a{color:#fff;}

.toggle-switch {-webkit-appearance: none;-moz-appearance: none;appearance: none;position: relative;width: 48px;height: 28px;border: 1px solid #dfdfdf;outline: 0;border-radius: 16px;box-sizing: border-box;background: #dfdfdf;float:right}
.toggle-switch:before {width: 46px;background-color: #fdfdfd}
.toggle-switch:after,.toggle-switch:before {content: " ";position: absolute;top: 0;left: 0;height: 26px;border-radius: 15px;-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;transition: transform .3s;transition: transform .3s,-webkit-transform .3s}
.toggle-switch:after {width: 26px;background-color: #fff;box-shadow: 0 1px 3px rgba(0,0,0,.4)}
.toggle-switch:checked {border-color: #04be02;background-color: #04be02}
.toggle-switch:checked:before {-webkit-transform: scale(0);-ms-transform: scale(0);transform: scale(0)}
.toggle-switch:checked:after {-webkit-transform: translateX(20px);-ms-transform: translateX(20px);transform: translateX(20px)}

/*数据统计*/
.data_title{ font-size:20px; font-weight:normal; line-height:100px;color:#fff; text-align:center; margin-top:15px}
.data_list{}
.data_list ul{ margin-bottom:20px; overflow:hidden}
.data_list ul li{background:#fff; border-radius:10px; margin:15px auto; width:85%; padding:5px 10px; color:#666; overflow:hidden; line-height:40px}

/*财务分析*/
.Financial_list{}
.Financial_list ul{margin-bottom:20px; overflow:hidden}
.Financial_list ul li{background:#fff; border-radius:10px; margin:15px auto; width:85%; padding:5px 10px;overflow:hidden; color:#666; line-height:50px}
.Financial_list ul li span.Financial_m{ color:#ff5500; font-size:20px}


/*登陆*/
.login_title{ width:100%; line-height:50px; border-bottom:1px #ddd  solid; text-align:center; font-size:15px; color:#666;}
.login_box{ width:90%; margin:10px auto}
.login_x{line-height: 45px;margin-top:20px;font-size: 14px;width: 100%;background: url(../images/zh.png) no-repeat;background-position: 5px 10px;background-size: 20px 20px;text-indent: 30px;color: #333;border-bottom: 1px #ddd solid;border-top:none;border-left:none;border-right:none;outline:none }
.login_x1{line-height: 45px;margin-top:20px;font-size: 14px;width: 100%;background: url(../images/mm.png) no-repeat;background-position: 5px 10px;background-size: 20px 20px;text-indent: 30px;color: #333;border-bottom: 1px #ddd solid;border-top:none;border-left:none;border-right:none;outline:none }
.login_sub{line-height: 45px;height: 45px;width: 100%;color: #ffffff;background-color: #08a5ec;font-size: 16px;text-align: center;display: inline-block;margin: 0 auto;border-radius: 5px;margin-top: 45px;border:none;outline:none}
.login_t{width: 100%;font-size: 14px;color: #666;line-height: 50px;margin: 0 auto;}

/*注册*/

.reg_x,.reg_mobile_icon{line-height: 45px;margin-top:10px;font-size: 14px;width: 100%;background: url(../images/zh.png) no-repeat;background-position: 5px 10px;background-size: 20px 20px;text-indent: 30px;color: #333;border-bottom: 1px #ddd solid;border-top:none;border-left:none;border-right:none;outline:none }
.reg_mobile_icon{background-image:url(../images/pho.png)}

.reg_x1,.reg_captcha{line-height: 45px;margin-top:10px;font-size: 14px;width: 100%;background: url(../images/mm.png) no-repeat;background-position: 5px 10px;background-size: 20px 20px;text-indent: 30px;color: #333;border-bottom: 1px #ddd solid;border-top:none;border-left:none;border-right:none;outline:none }
.reg_captcha_icon{background-image:url(../images/ys.png)}
.reg_x2{line-height: 45px;margin-top:10px;font-size: 14px;width: 100%;color: #333;border-bottom: 1px #ddd solid;border-top:none;border-right:none;outline:none;border-left:1px #ddd solid;text-align:center;background:none;color:#666}
.reg_t{text-align: center; margin-top:20px}
.reg_t textarea{ color:#666; font-weight:normal; line-height:35px;padding:5px; width:95%; outline:none; background:none}
.checkbox{ line-height:45px; color:#666;}
.reg_sub{line-height: 40px;height: 40px;width: 100%;color: #ffffff;background-color: #08a5ec;font-size: 16px;text-align: center;display: inline-block;margin: 0 auto;border-radius: 5px;margin-top: 10px;border:none;outline:none}

/*用户引导弹出层*/
.sto_bg{margin:0 auto; font-family:"微软雅黑"}
.sto_bg ul{}
.sto_bg ul li{ line-height:25px;  border-bottom:1px #ddd solid; padding:10px 10px; text-align:left}
.sto_bg ul li h3{ color:#666; line-height:30px; font-weight:bold; height:30px; text-align:left; padding:0}
.sto_bg ul li p{ color:#999;}
.sto_bg ul li input{ background:#1fb4f8; padding:6px 15px; border:none; color:#fff; outline:none; border-radius:5px}

/* 退货 */
.box_adr{overflow:hidden; margin:5px auto; background:#fff;text-align:center;}
.box_adr select{ width:96%; line-height:40px; height:40px; outline:none; border:1px #ddd solid; color:#666; margin:2% 2%}
.box_adr select option{}
.box_adr .select2-container{clear:both; width:96%;  margin:10px auto;}
.box_adr input{ width:96%;line-height:40px; height:40px; outline:none; border:1px #ddd solid; color:#666; margin:2% 2%; text-indent:5px}


input.btnsubmit{ width:96%; margin:10px auto; background:#ff5500; color:#fff; text-align:center; line-height:40px; border:none; border-radius:5px; font-size:15px; outline:none}

/*消息中心*/
.slideTxtBox .msg_x{ height:35px; line-height:35px; position:relative; }
.slideTxtBox .msg_x ul{ float:left;  position:absolute;height:35px;   width:100%;  }
.slideTxtBox .msg_x ul li{ float:left;cursor:pointer; width:25%; margin:0}
.slideTxtBox .msg_x ul li.on{ height:35px; color:#ff5500; border-bottom:2px #ff5500 solid  }
.msg_list{}
.msg_list ul{ margin-top:5px;}
.msg_list ul li{ background:#fff; overflow:hidden; margin-bottom:5px; padding:5px; line-height:25px; height:50px; text-align: left;}
.msg_list ul li a p{ color:#666;}