#shop_skin_index{width:100%; overflow:hidden; margin:0 auto;}
#shop_skin_index a{text-decoration:none;}
#shop_skin_index .banner{width:100%; height:160px; line-height:160px;}
#shop_skin_index .banner *{width:100%; height:100%; overflow:hidden;}
#shop_skin_index .shop_skin_index_list .img img{width:100%; height:100%;}
#shop_skin_index .shop_skin_index_list{float:left; _display:inline; overflow:hidden; position:relative; z-index:1;}

@media all and (min-width:360px){
	#web_skin_index .banner{height:180px;}
}
@media all and (min-width:420px){
	#web_skin_index .banner{height:210px;}
}
@media all and (min-width:480px){
	#web_skin_index .banner{height:240px;}
}