#web_skin_index{width:100%; height:100%; position:relative; overflow:hidden; z-index:1;}
#web_skin_index .web_skin_index_list{overflow:hidden; position:relative;}
#web_skin_index .banner{width:100%; overflow:hidden; height:100%; z-index:2; position:relative;}
#web_skin_index .banner *{width:100%;}
#web_skin_index .web_contents{position:absolute; height:200px; left:0px; bottom:15px; z-index:100; width:100%;}
#web_skin_index .box{width:95%; overflow:hidden; box-sizing:border-box; margin:0 auto; text-align:center;}
#web_skin_index .box li{width:33%; float:left; overflow:hidden; border:none; box-sizing:border-box;}
#web_skin_index .box li .item{width:80px; height:80px; margin:9px auto}
#web_skin_index .box li .img{height:100%; overflow:hidden; text-align:center;}
#web_skin_index .box li .img img{height:100%;}