#web_skin_index{width:100%; height:100%; position:relative; overflow:hidden; z-index:1;}
#web_skin_index .web_skin_index_list{overflow:hidden; position:relative; z-index:3}
#web_skin_index .banner{width:100%; overflow:hidden; height:100%; z-index:1; position:relative;}
#web_skin_index .banner *{width:100%;}
#web_skin_index .web_contents{position:absolute; left:0px; top:95px; z-index:100; width:100%;}
#web_skin_index .box{width:240px; min-height:240px; box-sizing:border-box; margin:0 auto; text-align:center; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
#web_skin_index .box li{width:110px; height:110px; float:left; overflow:hidden; border:none; box-sizing:border-box; margin:1px;}
#web_skin_index .box li .img{height:32px; margin:8px 0; overflow:hidden; text-align:center;}
#web_skin_index .box li .img img{height:100%;}
#web_skin_index .box li .text{text-align:center; font-size:12px;}
#web_skin_index .box li *{color:#FFFFFF}

.bot_bar{width:267px; min-height:79px; position:relative; margin:0 auto; margin-top:50px; z-index:100;}
.bot_bg{width:267px; height:79px; position:absolute; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; background:black; z-index:1; border-radius:5px;}
.bar_cont{position:absolute; z-index:2}
.bar_cont .img{float:left; width:168px; height:78px;}
.bar_cont .text{float:left; width:99px; height:78px; line-height:78px; text-align:center;}
.bar_cont .text a{color:#FFFFFF}

.item_bg{position:absolute; z-index:2; background:black; width:110px; height:110px; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7;}
.items{-webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); transform:rotate(-45deg); width:75px; height:75px; margin:22px 0 0 22px;}