/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

html, body{background:#ececec;}
#app_medical .banner{ width:100%; overflow:hidden; text-align:center;}
#app_medical .banner img{width:100%; height:160px;}

#app_medical .box{margin:8px; border:1px solid #dad8c9; border-radius:5px; background:#FFF; overflow:hidden;}
#app_medical .box h3{border-bottom:1px solid #dad8c9; width:100%; height:32px; line-height:32px; text-indent:8px; font-size:16px; font-weight:bold; color:#666;}
#app_medical .box li{padding:0 8px; font-size:14px; line-height:24px; overflow:hidden; border-bottom:1px solid #dad8c9;}
#app_medical .box li label{display:inline-block; width:95px; height:24px; padding:8px 0; float:left; overflow:hidden; font-size:14px; text-indent:21px;}
#app_medical .box li:nth-child(1) label{background:url(../images/app_medical/location.png) left center no-repeat; background-size:18px 18px;}
#app_medical .box li:nth-child(2) label{background:url(../images/app_medical/tel.png) left center no-repeat; background-size:18px 18px;}
#app_medical .box li a{display:inline-block; width:65%; line-height:24px; padding:8px 0; overflow:hidden; float:left; font-size:14px; text-decoration:none; color:#666;}

#app_medical form{ margin:8px;}
#app_medical form *{ font-size:14px;}
#app_medical .reserve_table{border:1px solid #ddd; border-radius:5px; background:#fff;}
#app_medical .reserve_table td{color:#a1a1a1; height:44px; padding:0 8px;}
#app_medical .reserve_table td.price_1{ font-size:16px; color:#f36e17; font-weight:bold;}
#app_medical .reserve_table td.save{ font-size:18px; color:#F00; font-weight:bold;}
#app_medical .reserve_table thead td{background-image:linear-gradient(bottom, #f1f1f1 0, #fefefe 100%); background-image:-moz-linear-gradient(bottom, #f1f1f1 0, #fefefe 100%); background-image:-webkit-linear-gradient(bottom, #f1f1f1 0, #fefefe 100%); color:#666; font-size:16px; font-weight:bold; border-top-left-radius:5px; border-top-right-radius:5px; height:32px;}
#app_medical .reserve_table .label{width:65px; color:#333;}
#app_medical .reserve_table .form_input{border:1px solid #EDEDED; color:#a1a1a1; border-radius:5px; width:100%; height:32px; line-height:32px; padding:0 5px; box-sizing:border-box;}
#app_medical .reserve_table select{height:32px; border:1px solid #ddd; border-radius:5px; padding:5px; width:100%; background:#fff; color:#a1a1a1;}
#app_medical .reserve_table select.reserve_time{width:60px;}
#app_medical .submit{width:100%; margin:5px auto; margin-bottom:12px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; background-color:#179F00; padding:8px; font-size:18px; border:1px solid #0B8E00; background-image:linear-gradient(bottom, #179F00 0, #5DD300 100%); background-image:-moz-linear-gradient(bottom, #179F00 0, #5DD300 100%); background-image:-webkit-linear-gradient(bottom, #179F00 0, #5DD300 100%); box-shadow:0 1px 0 #94E700 inset, 0 1px 2px rgba(0,0,0,0.5); border-radius:5px; color:#fff; text-shadow:0 1px rgba(0,0,0,0.2);}
#reserve_success{display:none; height:80px; line-height:80px; margin:0 8px; position:fixed; bottom:0; left:0; right:0; z-index:10000; border:1px solid #0B8E00; border-radius:8px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; text-align:center; font-weight:bold; background:#1EA400; font-size:20px; color:#fff;}

@media all and (min-width:360px){
	#app_medical .banner img{height:180px;}
}
@media all and (min-width:420px){
	#app_medical .banner img{height:210px;}
}
@media all and (min-width:480px){
	#app_medical .banner img{height:240px;}
}
@media all and (min-width:640px){
	#app_medical .banner img{height:320px;}
}