@media all and (min-width:360px){
	#web_skin_index .banner{height:180px;}
	#web_skin_index .box .list .img{height:90px;}
}
@media all and (min-width:420px){
	#web_skin_index .banner{height:210px;}
	#web_skin_index .box .list .img{height:106px;}
}
@media all and (min-width:480px){
	#web_skin_index .banner{height:240px;}
	#web_skin_index .box .list .img{height:122px;}
}