#web_skin_index{width:100%; overflow:hidden; margin:0 auto; background:#ededed;}
#web_skin_index .img img{width:100%; height:100%;}
#web_skin_index .web_skin_index_list{float:left; _display:inline; overflow:hidden; position:relative; z-index:1;}
#web_skin_index .banner{width:100%; height:160px;}
#web_skin_index .banner *{width:100%; height:100%; overflow:hidden;}
#web_skin_index .box{width:100%; padding:5px 0; overflow:hidden;}
#web_skin_index .box .list{width:33.33%; *width:33%}
#web_skin_index .box .list div{width:90%; margin:0 auto; padding:3px; background:#fff;}
#web_skin_index .box .list .img{height:80px; overflow:hidden;}
#web_skin_index .box .list .text{height:24px; line-height:24px; overflow:hidden; text-align:center; border:1px solid #efefef; border-top:none; margin-bottom:4px;}