#web_skin_index{width:100%; height:100%; overflow:hidden;}
#web_skin_index .web_skin_index_list{float:left; _display:inline; overflow:hidden; position:relative;}
#web_skin_index .img{height:100%; overflow:hidden;}
#web_skin_index .img img{width:100%;}
#web_skin_index .banner{width:100%; height:100%; overflow:hidden;}
#web_skin_index .banner *{width:100%; overflow:hidden;}
#web_skin_index .box{width:100%; margin:0 auto; box-sizing:border-box; background:#6E4F31; padding-top:1px;}
#web_skin_index .box .center{ padding:0 1px;}
#web_skin_index .box .list{height:80px; width:100%; box-sizing:border-box; overflow:hidden}
#web_skin_index .box .list .img{ background:red}
#web_skin_index .box .list .img img{ height:100%;}
#web_skin_index table{width:100%;}