html, body{height:100%; background-size:100%}

#column .contents{background:#fff; margin:8px; border-radius:8px; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}
#column .list-type-0 .item{margin-bottom:8px; margin:5px; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}
#column .list-type-1 .item{filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}
#column .list-type-2 .item{margin-bottom:8px; margin:5px; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}