html, body{height:100%; background:url(bg.jpg) fixed; background-size:100%;}

#column .contents{background:#fff; margin:8px; border-radius:8px; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}
#column .list-type-0 .item{margin-bottom:8px; margin:5px; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}
#column .list-type-1 .item{filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}
#column .list-type-2 .item{margin-bottom:8px; margin:5px; filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90;}

#footer_points{height:50px; clear:both;}
#footer{width:100%; margin:0 auto; background-size:4px 51px; height:50px; position:fixed; z-index:1000; bottom:0; background-image:linear-gradient(bottom, #014874 0, #3B8CC6 100%); background-image:-moz-linear-gradient(bottom, #014874 0, #3B8CC6 100%); background-image:-webkit-linear-gradient(bottom, #014874 0, #3B8CC6 100%);}
#footer a{text-decoration:none; color:#fff;}
#footer a.cur{color:#eee;}
#footer ul{margin-top:0px; border:none;}
#footer ul li{position:relative; float:left; height:50px; line-height:50px; width:80px; text-align:center; background:none;}
#footer ul li.first{background:none;}
#footer ul li img{min-width:18px; max-width:30px; height:18px;}
#footer ul li div, #footer ul li a{height:50px; line-height:20px; padding:6px 0 4px; box-sizing:border-box; overflow:hidden; font-size:14px; cursor:pointer; display:block; color:#fff;}
#footer ul li div.cur{color:#fff;}
#footer ul dl{box-shadow:0 0 8px #333; bottom:49px; position:absolute; width:100%; display:none; background:#4f4843; padding-bottom:4px;}
#footer ul dl dd{height:40px; line-height:40px; overflow:hidden; background:none; padding:0 5px;}
#footer ul dl dd.first{background:none;}
#footer ul dl dd a{font-size:14px; height:40px; line-height:40px; padding:0;}